<div id="exploreViewContainer" data-ng-controller="ExploreController">
    <!--<md-input-container md-no-float >-->
    <label>{{ 'QUERY-INPUT-LABEL' | translate }}</label>
    <input type="text" ng-model="query" required ng-enter="getSearch()">
    <!--</md-input-container>-->
    <md-content id="resultsContainer" layout="row" layout-fill>
        <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Youtube</span>
                </h2>
            </md-toolbar>
            <ul ng-repeat="item in youtubeResult track by $index" >
                <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
        </md-content>
        <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Vimeo</span>
                </h2>
            </md-toolbar>
            <ul ng-repeat="item in vimeoResult track by $index" layout="column">
                <li>{{item.title}}</li>
            </ul>
        </md-content>
        <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Soundcl</span>
                </h2>
            </md-toolbar>
            <ul ng-repeat="item in soundcloudResult track by $index" layout="column">
                <li>{{item.title}}</li>
            </ul>
        </md-content>
        <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Deezer</span>
                </h2>
            </md-toolbar>
            <ul ng-repeat="item in deezerResult track by $index" layout="column">
                <li>{{item.title}}</li>
            </ul>
        </md-content>
        <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Spotify</span>
                </h2>
            </md-toolbar>
            <ul ng-repeat="item in spotifyResult track by $index" layout="column">
                <li>{{item.title}}</li>
            </ul>
        </md-content>

        <!--<md-content>-->

            <!--<md-list>-->
                <!--<md-list-item class="md-3-line" ng-repeat="item in searchResult[0].youtube.items">-->
                    <!--<img ng-src="{{item.image}}?{{$index}}" class="md-avatar" alt="{{item.url}}">-->
                    <!--<div class="md-list-item-text">-->
                        <!--<h3>{{item.title}}</h3>-->
                        <!--<h4>{{item.url}}</h4>-->
                        <!--<p>{{item.type}}</p>-->
                    <!--</div>-->
                    <!--<md-divider md-inset ng-if="!$last"></md-divider>-->
                <!--</md-list-item>-->
            <!--</md-list>-->

        <!--</md-content>-->

    </md-content>
</div>
