<section id="homeSection" class="fillContainer animated-rapier" data-ng-controller="HomeController">
	<div id="itemHomeLeft" class="item-home">
		<div id="welcomeHomeDiv">
			<h1>Bienvenue sur Eazic</h1>
			<div id="content-info">
				<div class="content-info content-info-explore">
					<h2>Explorer presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-player">
					<h2>Player presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-playlist">
					<h2>Playlist presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-rooms">
					<h2>Rooms presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
			</div>
		</div>
		<div id="exploreHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="explore" onmouseenter="showContentInfo(event)">
			<h3>Explore</h3>
		</div>
		<div id="playerHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="player" onmouseenter="showContentInfo(event)">
			<h3>Player</h3>
		</div>
		<div id="playlistHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="playlist" onmouseenter="showContentInfo(event)">
			<h3>Playlist</h3>
		</div>
		<div id="salonHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="rooms" onmouseenter="showContentInfo(event)">
			<h3>Salon</h3>
		</div>
	</div>
	<div class="item-home home-feature-div" id="settingHomeDiv">
		<div>
			<h3>Bienvenue {{authentication.user.displayName}}</h3>
		</div>
	</div>
	<!--<div class="jumbotron">-->
		<!--<div class="row">-->
			<!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
				<!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
			<!--</div>-->
		<!--</div>-->
		<!--<br>-->
		<!--<div class="row">-->
			<!--<p class="lead">-->
				<!--Open-Source Full-Stack Solution For MEAN Applications-->
			<!--</p>-->
		<!--</div>-->
		<!--<div class="row">-->
			<!--<p>-->
				<!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h2>Congrats! You've configured and run the sample application.</h2>-->
		<!--<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>-->
		<!--<p>This sample application tracks users and articles.</p>-->
		<!--<ul>-->
			<!--<li>-->
				<!--Click-->
				<!--<em>Signup</em>-->
				<!--to get started.-->
			<!--</li>-->
			<!--<li>-->
				<!--Configure your app to work with your social accounts, by editing the-->
				<!--<em>/config/env/*.js</em>-->
				<!--files.-->
			<!--</li>-->
			<!--<li>-->
				<!--Edit your users module.-->
			<!--</li>-->
			<!--<li>-->
				<!--Add new CRUD modules.-->
			<!--</li>-->
			<!--<li>-->
				<!--Have fun...-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div class="row">-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>M</strong>ongoDB-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>E</strong>xpress-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>A</strong>ngularJS-->
			<!--</h2>-->
			<!--<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>N</strong>ode.js-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="well">-->
		<!--<h2>MEAN.JS Documentation</h2>-->
		<!--<p>-->
			<!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:-->
			<!--<ul>-->
				<!--<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</p>-->
	<!--</div>-->
	<!--<br>Enjoy &amp; Keep Us Updated,-->
	<!--<br>The MEAN.JS Team.-->
</section>
