<section id="homeSection" class="fillContainer animated-rapier-transform" data-ng-controller="HomeController">
	<div id="itemHomeLeft" class="item-home">
		<div id="welcomeHomeDiv">
			<h1>Bienvenue sur Eazic</h1>
			<div id="content-info">
				<div class="content-info content-info-explore">
					<h2>Explorer presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-player">
					<h2>Player presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-playlist">
					<h2>Playlist presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
				<div class="content-info content-info-rooms">
					<h2>Rooms presentation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sollicitudin diam. In molestie, eros et convallis vehicula, dui augue vehicula ex, nec bibendum purus dui ac mi. Maecenas vestibulum, dolor at ultricies convallis, massa felis dapibus lorem, ac luctus orci diam ac leo. Fusce tristique arcu id imperdiet eleifend. Suspendisse vel sodales diam. Vestibulum id ligula venenatis, feugiat sapien nec, dapibus arcu. Pellentesque vel eros nec ex elementum eleifend ac porttitor ante. Sed sagittis mauris vel mi interdum suscipit. Vivamus faucibus, mauris at interdum maximus, nulla tortor scelerisque orci, sed vehicula nibh nisl sit amet lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius, mi eget aliquam molestie, elit erat feugiat erat, sagittis venenatis purus tortor egestas odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan pharetra vestibulum.

						Donec elementum, dui sed auctor interdum, est dui feugiat nulla, id tincidunt dolor lacus ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat massa sed ullamcorper bibendum. Morbi quis feugiat nulla, sit amet pulvinar libero. Duis pulvinar luctus nisi vel aliquet. Aliquam et nisl eu ante viverra congue. Etiam imperdiet nisl vel nisl laoreet rhoncus. Curabitur vitae luctus leo. Fusce ultricies rhoncus euismod. Nullam at ante dui. Pellentesque porttitor porta tellus, quis aliquam odio ornare et.</p>
				</div>
			</div>
		</div>
		<div id="exploreHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="explore" onmouseenter="showContentInfo(event)" onmouseleave="hideOverlay(event)">
			<h3>Explore</h3>
			<div class="home-feature-overlay animated-rapier-transform">OVERLAY</div>
		</div>
		<div id="playerHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="player" onmouseenter="showContentInfo(event)" onmouseleave="hideOverlay(event)">
			<h3>Player</h3>
			<div class="home-feature-overlay animated-rapier-transform">OVERLAY</div>
		</div>
		<div id="playlistHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="playlist" onmouseenter="showContentInfo(event)" onmouseleave="hideOverlay(event)">
			<h3>Playlist</h3>
			<div class="home-feature-overlay animated-rapier-transform">OVERLAY</div>
		</div>
		<div id="salonHomeDiv" class="home-feature-div home-feature-square" data-contentinfo="rooms" onmouseenter="showContentInfo(event)" onmouseleave="hideOverlay(event)">
			<h3>Salon</h3>
			<div class="home-feature-overlay animated-rapier-transform">OVERLAY</div>
		</div>
	</div>
	<md-content class="item-home home-feature-div md-background" id="settingHomeDiv">

		<div data-ng-show="authentication.user">
			<div ng-click="authentication.settingView = 'default'">
				<h3>Bienvenue {{authentication.user.displayName}}</h3>
			</div>
			<div ng-init="authentication.settingView = 'default'" data-ng-show="authentication.settingView == 'default'">
				<h3>Dernières recherches</h3>
				<md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly">
					<md-chip-template>
						<strong>Apple</strong>
						<em></em>
					</md-chip-template>
				</md-chips>
			</div>
			<div data-ng-show="authentication.settingView == 'editProfile'" data-ng-include="'modules/users/views/settings/edit-profile.client.view.html'"></div>
			<div data-ng-show="authentication.settingView == 'changePicture'" data-ng-include="'modules/users/views/settings/change-profile-picture.client.view.html'"></div>
			<div data-ng-show="authentication.settingView == 'changePassword'" data-ng-include="'modules/users/views/settings/change-password.client.view.html'"></div>
			<div data-ng-show="authentication.settingView == 'manageSocialAccount'" data-ng-include="'modules/users/views/settings/manage-social-accounts.client.view.html'"></div>
		</div>
		<div id="signHome" data-ng-hide="authentication.user">
			<div class="signinupItem" ng-init="authentication.showSignupForm = false">
				<md-button class="md-primary md-raised md-hue-1
				" ng-click="authentication.showSignupForm = true ; authentication.showSigninForm = false">S'inscrire</md-button>
			</div>
			<div class="signinupItem" ng-init="authentication.showSigninForm = false">
				<md-button class="md-primary md-raised" ng-click="authentication.showSigninForm = true; authentication.showSignupForm = false">Se logguer</md-button>
			</div>
			<div ng-hide="authentication.showSignupForm" data-ng-include="'modules/users/views/authentication/signin.client.view.html'"></div>
			<div ng-show="authentication.showSignupForm" data-ng-include="'modules/users/views/authentication/signup.client.view.html'"></div>


			<div id="socialNetworkContainer">
				<div class="fillContainer" data-ng-include="'modules/users/views/authentication/authentication.client.view.html'"></div>
			</div>

		</div>
	</md-content>

</section>
