<section>
	<h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
	<md-content class="text-center" layout="row" layout-fill>
		<md-button href="/api/auth/facebook" class="undecorated-link md-raised" aria-label="Facebook">
			<img src="/modules/users/img/buttons/facebook.png">
		</md-button>
		<md-button href="/api/auth/twitter" class="undecorated-link md-raised" aria-label="Twitter">
			<img src="/modules/users/img/buttons/twitter.png">
		</md-button>
		<md-button href="/api/auth/google" class="undecorated-link md-raised" aria-label="Google+">
			<img src="/modules/users/img/buttons/google.png">
		</md-button>
		<md-button href="/api/auth/linkedin" class="undecorated-link md-raised" aria-label="LinkedIn">
			<img src="/modules/users/img/buttons/linkedin.png">
		</md-button>
		<md-button href="/api/auth/github" class="undecorated-link md-raised" aria-label="Github">
			<img src="/modules/users/img/buttons/github.png">
		</md-button>
	</md-content>
	<!--<div ui-view></div>-->
</section>
