<div data-ng-controller="AuthenticationController">
	<div>
		<form data-ng-submit="signin()" class="signin">
			<div>
				<md-input-container>
					<label for="username">Username</label>
					<input id="username" data-ng-model="credentials.username" name="username" placeholder="Username">
				</md-input-container>
			</div>
			<md-input-container flex>
				<label>Password</label>
				<input type="password" id="password" data-ng-model="credentials.password" name="password">
			</md-input-container>
			<md-button type="submit" class="md-primary md-raised" layout-fill>Sign in</md-button>
			<md-button class="md-raised md-warn" data-ui-sref="password.forgot" layout-fill>Forgot your password?</md-button>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</div>
