<div data-ng-controller="AuthenticationController">
	<div >
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>

				<md-content layout="column" class="md-primary" layout-fill>
					<md-input-container layout-fill>
						<label for="firstName">First Name</label>
						<input required id="firstName" data-ng-model="credentials.firstName" name="firstName">
					</md-input-container>
					<md-input-container layout-fill>
						<label for="lastName">Last Name</label>
						<input required id="lastName" data-ng-model="credentials.lastName" name="lastName">
					</md-input-container>
				<md-input-container>
					<label for="email">Email</label>
					<input required id="email" data-ng-model="credentials.email" name="email">
				</md-input-container>
				<md-input-container>
					<label for="username">Username</label>
					<input required id="username" data-ng-model="credentials.username" name="username">
				</md-input-container>
				<md-input-container>
					<label for="password">Password</label>
					<input required id="password" type="password" data-ng-model="credentials.password" name="password">
				</md-input-container>
				<md-button type="submit" class="md-raised md-primary" layout-fill>Sign up</md-button>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				</md-content>
			</fieldset>
		</form>
	</div>
</div>
