#signHome{
    text-align: center;
    /*padding: 5%;*/
}
.signinupItem{
    display: inline-block;
    text-align: center;
    /*margin: 20px;*/
    /*margin-top: 15%;*/
    /*font-size: x-large;*/
}
#socialNetworkContainer{

}
